html, body, #root {
	height: 100%;
	margin: 0;
	overflow-x: hidden;
	padding: 0;
	position: relative;
	width: 100%;
}

body {
	font: 16px/16px Arial, Helvetica, Sans-serif;
}

.full-scr {
	height: 100%;
	position: relative;
	width: 100%;
}

.vert-text {
	display: table-cell;
	vertical-align: middle;
	width: 100%;
}

.mgn-top {
	margin-top: 1em;
}

.tw {
	color: #fafafa;

}

.ty {
	color: yellow;
}

/* Landing */
#landing {
	background: url("../public/img/bg.png");
	background-size: cover;
	display: table;
}

#landing button, #landing a {
	background: #151515;
	border: none;
	color: #fafafa;
	display: block;
	padding: 10px 0;
	text-align: center;
	width: 100%;
}

#logo-container {
	margin: 0 auto 1em;
	max-width: 600px;
}

/* Register */
#register-bg {
	opacity: 0;
	position: absolute;
}

#register-container {
	-webkit-transform: translateY(-150%);
	-moz-transform: translateY(-150%);
	-ms-transform: translateY(-150%);
	-o-transform: translateY(-150%);
	transform: translateY(-150%);
}

#register-bg.active {
	background: rgba(0, 0, 0, .9);
	height: 100%;
	left: 0;
	opacity: 1;
	top: 0;
	-webkit-transition: opacity .5s ease;
	-moz-transition: opacity .5s ease;
	-ms-transition: opacity .5s ease;
	-o-transition: opacity .5s ease;
	transition: opacity .5s ease;
	width: 100%;
}

#register-bg.active #register-container {
	background: #fafafa;
	margin: 0 auto;
	max-width: 600px;
	padding: 15px;
	-webkit-transform: translateY(50%);
	-moz-transform: translateY(50%);
	-ms-transform: translateY(50%);
	-o-transform: translateY(50%);
	transform: translateY(50%);
	-webkit-transition: transform 1s ease .5s;
	-moz-transition: transform 1s ease .5s;
	-ms-transition: transform 1s ease .5s;
	-o-transition: transform 1s ease .5s;
	transition: transform 1s ease .5s;
}

#register-container input[type='text'] {
	margin-bottom: 1em;
	padding: 5px 10px;
	width: 100%;
}

#register-container button {
	background: #151515;
	border: none;
	color: #fafafa;
	padding: 10px 10px;
}

#register-container .pull-right:last-child {
	margin-right: 1em;
}

@font-face {
	font-family: 'digital';
	src: url('../public/font/digital-7_mono-webfont.woff2') format('woff2'),
	url('../public/font/digital-7_mono-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

#games:after {
	background: url("https://s-media-cache-ak0.pinimg.com/originals/30/2e/3e/302e3e2a483eaea819df3f32d23eb62e.jpg");
	background-size: cover;
	content: '';
	-webkit-filter: blur(10px); /* Safari 6.0 - 9.0 */
	filter: blur(10px);
	height: 100%;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: -1;
}

#score {
	background: #151515;
	border: 3px solid #fafafa;
	border-radius: 10px;
	padding-bottom: 1em;
}

#score .tw {
	text-align: center;
}

.score {
	border: 1px solid #fafafa;
	color: red;
	font-size: 72px;
	margin: 0 auto;
	padding: 24px 0;
	text-align: center;
	width: 84px;
}

.score-controls {
	background: transparent;
	border: 2px solid #fafafa;
	color: red;
	font-size: 24px;
	padding: 5px 0;
	width: 50px;
}

div > .score-controls:first-child {
	margin-right: 1em;
}

#timer {
	border: 3px solid #fafafa;
	border-radius: 10px;
}

#timer p {
	font-size: 72px;
	margin-top: 10px;
	padding-top: 28px;
}

#mins, #secs {
	border: 1px solid #fafafa;
	height: 72px;
	width: 80px;
}

#startT {
	background: transparent;
	border: 2px solid #fafafa;
	border-radius: 10px;
	color: red;
	font-size: 42px;
	padding: 10px 0;
	width: 100%;
}

.score, .score-controls,
#timer, #startT {
	font-family: digital;
}

.shadowbox {
	background: #fafafa;
	border-radius: 10px;
	color: #151515;
	font-size: 24px;
	padding: 20px 0;
}

.finished {
	background: #adadad;
}

.shadowbox p {
	margin: 0;
}

.shadowbox ul {
	font-size: 18px;
	text-align: left;
}

#stats {
	background: #fafafa;
	border-radius: 10px;
	overflow: hidden;
}
#stats-tools{
	background: #151515;
	padding: 5px 15px;
}
#stats-tools button{
	background: transparent;
	border: 2px solid #fafafa;
	color: red;
	font-size: 24px;
	margin-right: 10px;
	padding: 5px 5px;
}
#stats-header {
	background: #151515;
	color: #fafafa;
	font-size: 24px;
	padding: 15px 0 5px;
}

.r-s {
	border-bottom: 1px solid #adadad;
	padding: 10px;
}

.r-s:hover {
	background-color: #adadad;
}

.r-s:last-child {
	border: none;
}

.r-s p {
	margin: 0;
}

.r-s .col-xs-6 {
	border-right: 1px solid #adadad;
}

.r-s .col-xs-3:nth-child(2) {
	border-right: 1px solid #adadad;
}
